html, body {
    box-sizing: border-box;
}
header {
    height: 150px;
    width: 100%;
    display: flex;
    margin-bottom: 50px;
    align-items: center;
    background-color:rgb(160, 235, 214);
    justify-content: space-around;
}
header h1{
    font-size:100px;
    color:black;
    font-family:'Courier New', Courier, monospace;
    font-weight: bold;
}
header p{
    margin-left: 250px;
    font-size:40px;
}
.search-wrapper{
    display: flex;
    flex-direction: column;
}
.search-wrapper label{
    font-size: 20px;
}
.search-wrapper input{
    width:300px;
    font-size: 20px;
}
.level p{
    font-size: 20px;
}
.big_block{
    display:flex;
}

.containerr ul{
    width: 250px;
}

.big_block ul{
    font-size: 30px;
    list-style: none;
    height: 100%;
    text-align: center;
    width:450px;
}
.big_block li{
    margin-top: 50px;
}
.big_block li:hover{
    background-color: black;
    color:white;
    text-align: center;
}

.wtf{
    display:flex;
    flex-wrap: wrap;
}
.medium_block{
    width: max-content;
}
.containerr{
    max-width: 300px;
    margin: 0px 20px;
}
.card {
    width:400px;
    height: 250px;
    border-style:solid;
    color:black;
    display:flex;
    border-radius:3px;
    margin-right:5px;
    margin-bottom:5px;
    float:left;
    margin-left:80px;
}
.card .header{
    font-size: 30px;
    text-align: center;
}
.card .body{
    font-size: 25px;
    text-align: center;
    margin-top: 80px;
}
.card:hover{
    background-color:rgb(160, 235, 214);
}
.card img{
    width: 100px;
    height: 100px;
    margin-right:20px;
    margin-top:10px;
    margin-left: 10px;
    border-radius: 100%;
    border-style:double;
}
.text h1{
    font-size: 30px;
    margin-top:10px;
}
.desc p{
    margin-top: 20px;
    margin-bottom: 60px;
    font-size:30px;
}
.tutorlevel p{
    margin-left:160px;
}
.email{
    margin-left: 40px;
}

.hide{
    animation-name: a1;
    animation-fill-mode: forwards;
}
.acc{
    padding: 0px 100px;
    display: flex;
}
.acc img{
height: 300px;
width: 300px;
}
.acc h1{
    padding-bottom: 16px;
    font-size: 42px;
}
.acc p{
    
    font-size: 30px;
}
.infacc{
    display: flex;
    flex-direction: column;
    padding: 0px 80px;
}
@keyframes a1{
    to{
        opacity: 0;
        height: 0;
        width: 0;
        padding: 0;
        margin: 0;
        border: 0;
    }
}